body , #footer{
border:double;
border-color:lightblue;
background-image:url(animacao.gif);
}

iframe{
border:none;
}
.mybody{

background-image:url(fundo2.png);
}
#header{
background-color: lightblue;
background-image:url(fundo3.png);
}

