body , #footer{
border:double;
border-color:lightblue;
background-image:url(animacao.gif);
}

iframe{
border:none;
}
.mybody{

background-image:url();
}
#header{
background-color: white;
background-image:url();
}

